.login_form-wrapper {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 400px;
}

.form-label {
  font-size: 14px;
  font-weight: 500;
}

.form-item {
  margin-top: 16px;
}

.forgot_password-link {
  margin-top: 16px;
  display: block;
  text-align: right;
  text-decoration: underline;
}

.submit-button {
  margin-top: 16px;
}
