.login_form-wrapper {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 400px;
}

.form-item {
    margin-top: 16px;
}

.submit-button {
    margin-top: 16px;
}
