.warningBanner {
  width: 100%;
  background-color: rgba(243, 195, 195, 0.7);
  color: #e21717;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 1;
  .bannerContent {
    display: flex;
    align-items: center;

    .warningIcon {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.5rem;
      flex-shrink: 0;
    }
  }

  .updateButton {
    background-color: #dc2626;
    color: white;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
    white-space: nowrap;
    margin-left: 1rem;

    &:hover {
      background-color: #b91c1c;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(220, 38, 38, 0.5);
    }
  }

  .credits-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

    svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
    }
  }
}
