@import '../../../styles/_variables.scss';

.supported-app-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-extra-large;
  padding: 80px $spacing-extra-large;
}

.client-logos-section {
  background-color: $background-color-light;
  text-align: center;

  .heading {
    font-size: 1.2rem;
    font-weight: 600;
    color: $primary-color-light;
    margin-bottom: $spacing-extra-large;
  }

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;

    img {
      max-height: $spacing-semi; // Reduced by 20%
      object-fit: contain;
      filter: grayscale(100%);
      transition: filter 0.3s ease;

      &:hover {
        filter: none;
      }
    }
  }
}

.supported-app-video-thumbnail {
  cursor: pointer;
  width: 800px;
  object-fit: contain;
  transition: scale 0.4s ease-in-out;

  &:hover {
    scale: 1.1;
  }
}
