.forgotPassword_form-wrapper {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotPassword-form {
  width: 400px;
}

.form-label {
  font-size: 14px;
  font-weight: 500;
}

.form-item {
  margin-top: 16px;
}

.submit-button {
  margin-top: 16px;
}
