// DashboardLayout.module.scss
@import '../../../styles/variables';

.dashboard {
  display: flex;
  height: 100vh;
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(243, 240, 240);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: $spacing-large;
}
