@import '../../styles/variables';

.mobile-navbar-wrapper {
  display: none;
}

.desktop-navbar-wrapper {
  display: block;
}

@media (max-width: $breakpoint-mobile) {
  .mobile-navbar-wrapper {
    display: block;
  }

  .desktop-navbar-wrapper {
    display: none;
  }
}

// Hero Section

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color-secondary-light;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $border-radius-regular;
  max-width: $max-width;
  min-height: calc(100vh - $nav-height);

  .hero-content {
    max-width: 50%;

    .new-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $spacing-small;
      padding: 5px 10px;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 30px;
      border-radius: 80px;
      border: 1.6px rgba(0, 0, 0, 0.15);
      background: #fff;
      width: fit-content;
      border: 1.6px solid rgba(0, 0, 0, 0.15);
      background: #fff;
      line-height: 1;
      span {
        font-size: 10px;
        font-weight: 400;
        margin-left: 5px;
        background: $primary-color-light;
        padding: 5px 8px;
        border-radius: 80px;
        line-height: 1;

        color: $background-color-light;
      }
    }

    .highlight {
      color: $primary-color-light;
      font-weight: 600;
    }

    h1 {
      font-size: 3.5rem;
      margin-bottom: 20px;
      font-weight: 600;
      line-height: 1.4;
    }

    .description {
      font-size: 18px;
      margin-bottom: 30px;
      color: #4a4a4a;
    }

    .cta-button {
      display: inline-block;
      background-color: #1a73e8;
      color: white;
      padding: 15px 30px;
      border-radius: 8px;
      text-decoration: none;
      font-size: 16px;
      margin-bottom: 20px;
    }

    .reviews {
      display: flex;
      align-items: center;
      margin-top: 20px;
      gap: $spacing-small;

      span {
        font-size: 14px;
        color: #7a7a7a;
        margin-right: 10px;
      }

      .rating {
        display: flex;
        gap: 2px;
        flex-direction: column;
        img {
          height: 20px;
          width: fit-content;
          object-fit: contain;
        }
      }

      .review-avatars {
        display: flex;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-left: -10px;
          border: 2px solid white;
        }
      }
    }
  }

  .hero-image {
    max-width: 45%;
    img {
      max-width: 100%;
      border-radius: 16px;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;

    .hero-content {
      max-width: 100%;
      text-align: center;

      .cta-button {
        width: 100%;
        text-align: center;
      }
    }

    .hero-image {
      display: none;
    }

    h1 {
      font-size: 36px;
    }
  }
}
