.button {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

  .icon {
    font-size: 20px;
    margin-right: 10px;
  }

  p {
    font-weight: 600;
  }

  &.apple {
    background-color: #000;
    color: #fff;

    &:hover {
      background-color: #333;
    }
  }

  &.google {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;

    &:hover {
      background-color: #f1f1f1;
    }
  }

  // Add more styles for different providers (e.g., Facebook, Twitter)
}
